<div style="height: 15rem;background-color: rgb(238, 238, 238); ">



    <div class="row" style="margin-top: 0.5rem; ">


        <div style="height: 12rem;width: 12rem; margin-left: 10rem;  "><img style="border-radius:15%;"
                src="https://m.media-amazon.com/images/I/613SAOPmLeL._SX569_.jpg" class="card-img-top" alt="...">
            <a href="" style="text-decoration: none;color:black ;">
                <h6 style="text-align: center; font-size: 2rem;">phones</h6>
            </a>
        </div>

        <div style="height: 12rem;width: 12rem; margin-left: 10rem;  "><img style="border-radius:15%;"
                src="https://m.media-amazon.com/images/I/61wnFKjF1EL._SX679_.jpg" class="card-img-top" alt="...">
            <a href="" style="text-decoration: none;color:black ;">
                <h6 style="text-align: center; font-size: 2rem;">EarPhones
                </h6>
            </a>
        </div>


        <div style="height: 12rem;width: 12rem; margin-left: 10rem;  "><img style="border-radius:15%;"
                src="https://m.media-amazon.com/images/I/61TapeOXotL._SX679_.jpg" class="card-img-top" alt="...">
            <a href="" style="text-decoration: none;color:black ;">
                <h6 style="text-align: center; font-size: 2rem;">SmartWatches
                </h6>
            </a>
        </div>

        <div style="height: 12rem;width: 12rem; margin-left: 10rem;  "><img style="border-radius:15%;"
                src="https://m.media-amazon.com/images/I/71iiXU7HHkL._SX522_.jpg" class="card-img-top" alt="...">
            <a href="" style="text-decoration: none;color:black ;">
                <h6 style="text-align: center; font-size: 2rem;">Laptops</h6>
            </a>
        </div>

        <div style="height: 12rem;width: 12rem; margin-left: 10rem;  "><img style="border-radius:15%;"
                src="https://m.media-amazon.com/images/I/61giWajD6xL._SX522_.jpg" class="card-img-top" alt="...">
            <a href="" style="text-decoration: none;color:black ;">
                <h6 style="text-align: center; font-size: 2rem;">Speakers</h6>
            </a>
        </div>



    </div>


</div>