<h1 style="text-align: center;font-weight:bolder; font-size: x-large;">SHOPPING CART
</h1>
<ng-container *ngIf="cartsData$ | async as carts ">
    <div class="col" *ngFor="let prod of carts">



        <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">


                        </div>

                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="{{prod.imageUrl}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h2 class="lead fw-normal mb-2">{{prod.name}}</h2>

                                    </div>

                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                                        <h4 class="mb-0">{{prod.price|currency:'INR'}}</h4>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>





                </div>




            </div>
        </section>